# IDE files
.idea
.vscode

# node
node_modules

# package managers
pnpm-lock.yaml
npm-lock.yaml
yarn.lock
package-lock.json

# build
build
dist
out
*.tsbuildinfo
*.tsbuildinfo.json

# env
.env.*
!.env.example
*.env

CLAUDE.md